
body {
background-color: /*#bbbbff;*/rgb(0, 114, 198);
/*background-color: #D5E0F5;*/
}

h1,h2 {
display: none;
}

img {
width:400px;
height:102px;
}

#cont {
display: block;
width: 400px;
margin: auto;
margin-top:12%;
background-color: white;
padding-bottom:1%;
border: solid;
border-width: 2px;
border-color: black;
border-radius: 8px;
}

.error-log {
text-align: center;
color: red;

}

form {
margin: 2%;
margin-top: 4%;
}
fieldset {
width:150px;
display: block;
margin: auto;
}

input {
display: block;
margin: auto;
margin-bottom: 10px;
}

#recordar{
display: inline;
margin-bottom: 20px;
margin-left: 5px;
}

.boton {
background-color: rgb(0, 114, 198);
color:white;
font-weight:bold;
border:0px;
min-width:80px;
max-width: 120px;
height:30px;
box-shadow: 0 0 1px black;
margin: 10px auto;
display: table;
}

.boton:hover {
background-color: rgb(0,146,250);
}

.boton:disabled {
background-color: rgb(200,200,200);
color:grey;
}

footer{
width: 400px;
margin: auto;
}

a {
text-decoration: none;
color: white;
}

#sol-user {
float: right;
}

