@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  overflow: auto;
  background-image: -webkit-linear-gradient(left, #f0f0f0, black, #f0f0f0);
  background-image: linear-gradient(to right, #f0f0f0, black, #f0f0f0);
  background-image: -webkit-linear-gradient(right, #f0f0f0, black, #f0f0f0);
  font-family: "Lucida Grande","Lucida Sans Unicode","DejaVu Sans",Lucida,Arial,Helvetica,sans-serif;
  font-size: 14px;
  color: #323232;
}

/*prueba*/
html, body {
  height: 100%;
  font-size: 16px;
}

.no-display {
  display: none;
}

.d-inline {
  display: inline;
}

header {
  background-color: #D5E0F5;
  min-width: 877px;
}

#logo {
  width: 200px;
  height: 50px;
  margin-left: 1%;
}

/*USER PANEL*/
#user-panel {
  float: right;
  margin: 8px 15px 8px;
}

#user-panel p {
  margin-bottom: 6px;
}

#user-panel a {
  font-size: 15px;
}

/*NAV-PRINC*/
#nav-princ {
  background-color: #0072c6;
  display: block;
  border: solid white;
  border-width: 1px 0;
}

header > nav > ul {
  height: 30px;
  max-width: 58%;
  min-width: 1140px;
  margin: auto;
}

header > nav > ul > li {
  float: left;
  display: inline;
  width: 150px;
  height: 30px;
  color: #DDDDDD;
}

header > nav > ul > li:first-child {
  border-left: 1px solid #99D5FF;
}

header > nav > ul > li:last-child {
  border-right: 1px solid #555555;
}

header > nav > ul > li > a {
  padding: 5px 0px 5px 0px;
  border-left: 1px solid #555555;
  border-right: 1px solid #99D5FF;
  color: inherit;
  text-shadow: 1px 1px #550000;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  display: block;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 20px;
  height: 20px;
}

#current-tab {
  background-color: #005694;
  color: white;
}

header > nav > ul > li > a:hover {
  color: white;
}

header > nav > ul > li > ul {
  position: absolute;
  display: none;
  color: white;
  width: inherit;
  margin-top: 0px;
  background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.7);
  border-radius: 3px;
}

header > nav > ul > li:hover ul {
  display: block;
}

header > nav > ul > li > ul > li {
  text-decoration: none;
  color: white;
  display: block;
  border-bottom: solid 1px white;
  padding: 1px 0;
}

header > nav > ul > li > ul > li:last-child {
  border-bottom: none;
}

header > nav > ul > li > ul a {
  text-decoration: none;
  padding: 5px 0px 5px 20px;
  display: block;
  color: white;
  border-radius: 4px;
  font-size: smaller;
}

header > nav > ul > li > ul a:hover {
  background: none repeat scroll 0% 0% rgba(0, 154, 240, 0.9);
}

#cuerpo {
  min-width: 1050px;
  max-width: 85%;
  min-height: 80%;
  margin: 0 auto;
  background-color: #d2e6ff;
  border: solid grey;
  border-width: 0 1px;
  padding: 5% 0;
}

#cuerpo h2 {
  font-size: 20px;
  font-weight: bold;
  margin-left: 1%;
  margin-bottom: 8px;
}

#cuerpo h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 1%;
}

#cuerpo h4 {
  font-size: 15px;
  font-weight: bold;
  margin: 2% 3%;
}

#cuerpo h5 {
  font-size: 14px;
  font-weight: bold;
  margin: 2% 6%;
}

footer {
  height: 20px;
  background-color: #0072c6;
  border-top: 1px solid white;
  min-width: 877px;
}

footer a {
  color: white;
  text-decoration: none;
  line-height: 20px;
  float: right;
  margin-right: 4%;
  font-size: 12px;
}

input[type='file'] {
  width: 299px;
  overflow: visible;
}

.boton {
  background-color: #0072c6;
  color: white;
  font-weight: bold;
  border: 0px;
  min-width: 80px;
  max-width: 120px;
  height: 30px;
  box-shadow: 0 0 1px black;
  margin: 10px auto;
  display: table;
}

/*Quiz├ís en archivo espec├¡fico menos general?*/
.bot-fav, .bot-anyadir, .bot-editar, .bot-eliminar {
  width: 32px;
  height: 32px;
  background: url("../images/icon-fav.png") no-repeat scroll 0 0 transparent;
  background-color: #0072c6;
  background-position: center center;
  background-size: 25px 25px;
  border-radius: 6px;
  margin: 2px;
}

.bot-anyadir {
  background: url("../images/icon-anyadir.png") no-repeat scroll 0 0 transparent;
  background-color: #0072c6;
  background-position: center center;
  background-size: 25px 25px;
}

.bot-eliminar {
  background: url("../images/icon-eliminar.png") no-repeat scroll 0 0 transparent;
  background-color: #0072c6;
  background-size: cover;
}

.bot-editar {
  background: url("../images/icon-editar.png") no-repeat scroll 0 0 transparent;
  background-color: #0072c6;
  background-size: cover;
}

.bot-fav:hover, .bot-anyadir:hover, .bot-eliminar:hover, .bot-editar:hover, .boton:hover {
  background-color: #0092fa;
}

.bot-fav:disabled, .bot-anyadir:disabled, .bot-eliminar:disabled, .bot-editar:disabled, .boton:disabled {
  background-color: #c8c8c8;
  color: grey;
}

.i-number {
  width: 45px;
}

.i-date {
  width: 135px;
}

.border-up {
  padding: 1% 2%;
  border-top: 1px solid black;
}

.center {
  margin: 10px auto;
  display: table;
}

strong {
  font-weight: bold;
}

table {
  margin: 2% auto;
  border: 1px solid black;
}

th {
  padding: 5px 10px;
  border: 1px solid black;
}

td {
  border: 1px solid black;
  padding: 5px 10px;
  text-align: center;
}

td a {
  text-decoration: none;
  font-weight: bold;
}

.td-positivo {
  background-color: red;
  color: white;
}

.td-negativo {
  background-color: limegreen;
  color: yellow;
}

.col-ampliada {
  min-width: 350px;
}

.realizado {
  color: limegreen;
  font-weight: bold;
}

.no-realizado {
  color: red;
  font-weight: bold;
}

.div-ed-datos {
  float: right;
  font-size: 12px;
}

.en-albergue {
  background-color: dodgerblue;
}

.en-acogida {
  background-color: violet;
}

.reservado {
  background-color: greenyellow;
}

.pre-adoptiva {
  background-color: goldenrod;
}

.adoptado {
  background-color: gold;
}

.difunto {
  background-color: tomato;
}

#cab-cuerpo {
  height: 30px;
}

#estado-tit {
  float: right;
  font-weight: bold;
  font-size: 13px;
  color: white;
  margin-top: 15px;
  margin-right: 2%;
}

#form-adoptante {
  display: hidden;
}

#datos {
  width: 615px;
  margin: 2% auto;
}

#datos input, #estado input, #f-pdf input {
  margin: 0 10px 10px 7px;
}

#datos input[type=radio] {
  margin: 10px 2px;
}

#datos select, #estado select {
  margin: 5px 10px 5px 7px;
}

#form-datos label, #estado label {
  font-weight: bold;
}

#datos input[type=submit] {
  margin-top: 10px;
  margin-left: 37%;
}

#nombre {
  width: 75px;
}

#localidad {
  width: 100px;
}

#edad {
  width: 50px;
}

#datos textarea {
  width: 615px;
  margin: 8px 0;
}

#busqueda span {
  margin-right: 14px;
}

#busqueda p {
  margin: 10px 0px;
}

#nombre-a {
  margin-right: 14px;
}

#busqueda select {
  margin-right: 14px;
}

strong {
  font-weight: bold;
}

legend {
  font-weight: bold;
}

#resultados p {
  font-size: 14px;
}

table {
  border: 1px solid black;
}

th {
  padding: 5px 10px;
  border: 1px solid black;
}

td {
  border: 1px solid black;
  padding: 5px 10px;
  text-align: center;
}

td a {
  text-decoration: none;
  font-weight: bold;
}

table img {
  width: 60px;
  height: 60px;
}

#paginador {
  margin: 0 auto;
  max-width: 850px;
}

#paginador li {
  display: inline;
}

#paginador p {
  float: right;
}

#paginador a {
  background-color: #0072c6;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border: 0px;
  padding: 2px 6px;
  box-shadow: 0 0 1px black;
  margin: 10px 3px;
  text-align: center;
  border-radius: 2px;
}

#paginador a:hover {
  background-color: #0092fa;
}

#cuerpo p {
  margin: 3% 2%;
}

#cuerpo img {
  max-width: 400px;
  max-height: 400px;
  margin: auto 1%;
}

#imagenes {
  margin: 2% auto;
  display: block;
  max-width: 850px;
  max-height: 450px;
}

#fotos {
  width: 301px;
  height: 500px;
  font-size: 13px;
  float: left;
  margin-right: 7%;
}

#fotos img {
  max-width: 300px;
  max-height: 300px;
  margin: 0;
}

#fotos input {
  margin: 5px 0;
}

#flechas {
  float: right;
  margin-right: 8px;
}

#d-current-foto {
  margin: 2% 0 4% 0;
  max-height: 300px;
}

#nav-acc-foto {
  position: relative;
  display: none;
  width: inherit;
  background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.5);
  height: 36px;
  margin: 0;
  bottom: 3px;
  padding-right: 5px;
}

#d-current-foto:hover #nav-acc-foto {
  display: block;
}

#f-pdf {
  margin: 4% 0 2% 0;
}

#f-pdf legend {
  margin-bottom: 7px;
}

#f-pdf input {
  display: inline;
}

#datos {
  margin: auto;
  width: 620px;
}

#datos input, #estado input, #f-pdf input {
  margin: 0 10px 10px 7px;
}

#datos input[type=radio] {
  margin: 10px 2px;
}

#datos select, #estado select {
  margin: 5px 10px 5px 7px;
}

#form-datos label, #estado label {
  font-weight: bold;
}

#datos input[type=submit] {
  margin-top: 10px;
  margin-left: 37%;
}

#nombre {
  width: 75px;
}

#localidad {
  width: 100px;
}

#edad {
  width: 50px;
}

#datos textarea {
  width: 615px;
  margin: 8px 0;
  display: block;
}

.w200px {
  width: 200px;
}

#castracion {
  clear: both;
}

#desc-video, #observaciones-trat {
  width: 100%;
}

#nueva-foto {
  display: inline;
}

#login-screen {
  background-color: #0072c6;
  background-image: none;
  /*background-color: #D5E0F5;*/
}
#login-screen h1, #login-screen h2 {
  display: none;
}
#login-screen header {
  background-color: inherit;
  min-width: 0;
}
#login-screen img {
  width: 400px;
  height: 102px;
}
#login-screen #cont {
  display: block;
  width: 400px;
  margin: auto;
  margin-top: 12%;
  background-color: white;
  padding-bottom: 1%;
  border: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 8px;
}
#login-screen .error-log {
  text-align: center;
  color: red;
}
#login-screen form {
  margin: 2%;
  margin-top: 4%;
}
#login-screen fieldset {
  width: 150px;
  display: block;
  margin: auto;
}
#login-screen input {
  display: block;
  margin: auto;
  margin-bottom: 10px;
}
#login-screen #recordar {
  display: inline;
  margin-bottom: 20px;
  margin-left: 5px;
}
#login-screen .boton {
  background-color: #0072c6;
  color: white;
  font-weight: bold;
  border: 0px;
  min-width: 80px;
  max-width: 120px;
  height: 30px;
  box-shadow: 0 0 1px black;
  margin: 10px auto;
  display: table;
}
#login-screen .boton:hover {
  background-color: #0092fa;
}
#login-screen .boton:disabled {
  background-color: #c8c8c8;
  color: grey;
}
#login-screen footer {
  width: 400px;
  margin: auto;
  height: auto;
  background-color: inherit;
  border: none;
  min-width: 0px;
}
#login-screen a {
  text-decoration: none;
  color: white;
}
#login-screen #sol-user {
  float: right;
}

/*revisar si mover a css espec├¡fico*/
#cont {
  border-top: 1px solid grey;
  padding: 1% 2%;
}

#cont > ul li {
  margin: 6px;
}
