@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*VARIABLES*/
/*BODY BASE*/
html {
  font-size: 62.5%;
}

body {
  overflow: auto;
  background-image: -webkit-linear-gradient(left, #f0f0f0, black, #f0f0f0);
  background-image: linear-gradient(to right, #f0f0f0, black, #f0f0f0);
  background-image: -webkit-linear-gradient(right, #f0f0f0, black, #f0f0f0);
  font-family: "Lucida Grande","Lucida Sans Unicode","DejaVu Sans",Lucida,Arial,Helvetica,sans-serif;
  font-size: 1.6rem;
  color: #323232;
}
@media screen and (max-width: 520px) {
  body {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 959px) {
  body {
    font-size: 1.4rem;
    background-image: none;
  }
}

html, body {
  height: 100%;
}

/*HEADER*/
header#hPrinc {
  background-color: #D5E0F5;
  width: 100%;
}

#logo {
  width: 200px;
  height: 50px;
  margin-left: 1%;
  margin-top: 10px;
  margin-right: -25px;
}

/*USER PANEL*/
#user-panel {
  float: right;
  margin-top: 2%;
  height: 60px;
}

#user-panel p {
  margin-bottom: 6px;
}

#user-panel a {
  font-size: 100%;
  display: block;
  float: left;
  margin: 0 5px 5px 0;
}
@media (max-width: 520px) {
  #user-panel a {
    clear: both;
  }
}

/*NAV-PRINC*/
#nPrinc {
  background-color: #0072C6;
  display: table;
  table-layout: fixed;
  border: solid white;
  border-width: 1px 0;
  color: #DDD;
  width: 100%;
}
#nPrinc > ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 4px;
  border-left: 1px solid #99D5FF;
  border-right: 1px solid #555555;
}
#nPrinc > ul > li {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
#nPrinc > ul > li > a {
  padding: 5px 0px;
  border-left: 1px solid #555555;
  border-right: 1px solid #99D5FF;
  color: inherit;
  text-shadow: 1px 1px #550000;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  display: block;
  text-transform: uppercase;
  font-size: larger;
  line-height: 24px;
}
@media (max-width: 759px) {
  #nPrinc > ul > li > a {
    border-top: 1px solid #555555;
    border-bottom: 1px solid #99D5FF;
    line-height: 35px;
  }
}
#nPrinc > ul > li > a:hover {
  color: white;
}
@media (max-width: 759px) {
  #nPrinc > ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #nPrinc > ul li {
    display: none;
  }
}
#nPrinc ul ul {
  display: none;
  position: absolute;
  color: white;
  margin-top: 0px;
  background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.7);
  border-radius: 0 0 3px 3px;
  min-width: 150px;
}
#nPrinc ul ul li {
  text-decoration: none;
  color: white;
  display: block;
  border-bottom: solid 1px white;
  padding: 1px 0;
}
#nPrinc ul ul li:last-child {
  border-bottom: none;
}
#nPrinc ul ul a {
  text-decoration: none;
  padding: 8px 25px 8px 20px;
  display: block;
  color: white;
  border-radius: 4px;
  font-size: medium;
}
#nPrinc ul ul a:hover {
  background: none repeat scroll 0% 0% rgba(0, 154, 240, 0.9);
}
#nPrinc ul li:hover ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 759px) {
  #nPrinc ul li:hover ul {
    position: static;
    text-align: center;
  }
}
#nPrinc #dMenu {
  display: none;
}
@media (max-width: 759px) {
  #nPrinc #dMenu {
    display: block;
  }
}
@media (max-width: 759px) {
  #nPrinc ul:hover li {
    display: block;
  }
}

#current-tab {
  background-color: #005694;
  color: white;
}

/*CUERPO*/
#cuerpo {
  min-height: 74%;
  max-width: 1140px;
  width: 85%;
  padding: 5% 0 45px;
  margin: 0 auto;
  background-color: #F3F8FE;
  border: solid grey;
  border-width: 0 1px;
}
@media screen and (max-width: 959px) {
  #cuerpo {
    width: 100%;
    border: none;
  }
}
@media screen and (max-width: 720px) {
  #cuerpo {
    padding: 5% 0;
    width: 100%;
  }
}

@media screen and (max-width: 720px) {
  #cuerpo > div {
    padding: 1% 3%;
  }
}

#cuerpo p {
  margin: 2% 0;
}

#cuerpo h2 {
  font-size: 130%;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 8px;
}

#cuerpo h3 {
  font-size: 125%;
  font-weight: bold;
  margin-bottom: 1%;
}

#cuerpo h4 {
  font-size: 110%;
  font-weight: bold;
  margin: 2% 0;
}

#cuerpo h5 {
  font-size: 100%;
  font-weight: bold;
  margin: 2% 0;
}

/*FOOTER PRINCIPAL*/
footer {
  height: 35px;
  background-color: #0072c6;
  border-top: 1px solid white;
  padding: 0 5px;
}

footer a {
  color: white;
  text-decoration: none;
  float: right;
  margin-top: 10px;
  margin-right: 4%;
  font-size: 87%;
}

footer img {
  width: 35px;
  height: 35px;
  margin-top: -10px;
}

input[type='file'] {
  width: 299px;
}

/*DEFAULT OR RESET MODS*/
strong {
  font-weight: bold;
}

legend {
  font-weight: bold;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  width: 35px;
}

/*GENERAL USE CLASSES*/
.noDisplay {
  display: none;
}

.dInline {
  display: inline;
}

.boton {
  background-color: #0072c6;
  color: white;
  font-weight: bold;
  border: 0px;
  min-width: 80px;
  max-width: 120px;
  height: 30px;
  box-shadow: 0 0 1px black;
  margin: 0px auto 10px;
  display: table;
}

.buFav, .buAdd, .buEdit, .buDelete {
  width: 32px;
  height: 32px;
  background: url("../images/icon-fav.png") no-repeat scroll 0 0 transparent;
  background-color: #0072c6;
  background-position: center center;
  background-size: 25px 25px;
  border-radius: 6px;
  margin: 2px;
}

.buAdd {
  background: url("../images/icon-anyadir.png") no-repeat scroll 0 0 transparent;
  background-color: #0072c6;
  background-position: center center;
  background-size: 25px 25px;
}

.buDelete {
  background: url("../images/icon-eliminar.png") no-repeat scroll 0 0 transparent;
  background-color: #0072c6;
  background-size: cover;
}

.buEdit {
  background: url("../images/icon-editar.png") no-repeat scroll 0 0 transparent;
  background-color: #0072c6;
  background-size: cover;
}

.buFav:hover, .buAdd:hover, .buDelete:hover, .buEdit:hover, .boton:hover {
  background-color: #0092fa;
}

.buFav:disabled, .buAdd:disabled, .buDelete:disabled, .buEdit:disabled, .boton:disabled {
  background-color: #c8c8c8;
  color: grey;
}

.buToggle {
  float: left;
  width: 18px;
  height: 18px;
  font-size: 1rem;
  text-align: center;
  padding-bottom: 7px;
}

.inDate {
  width: 135px;
}

.borderUp {
  padding: 1% 2%;
  border-top: 1px solid black;
  overflow: auto;
}

.center {
  margin: 10px auto;
  display: table;
  clear: both;
}

strong {
  font-weight: bold;
}

label {
  display: inline-block;
  margin: 0px 7px 10px 0px;
}

table {
  margin: 2% auto;
  border: 1px solid black;
}

th {
  padding: 5px 10px;
  border: 1px solid black;
}

td {
  border: 1px solid black;
  padding: 5px 10px;
  text-align: center;
}

td a {
  text-decoration: none;
  font-weight: bold;
}

.tdPositivo {
  background-color: red;
  color: white;
}

.tdNegativo {
  background-color: limegreen;
  color: yellow;
}

.realizado {
  color: limegreen;
  font-weight: bold;
}

.noRealizado {
  color: red;
  font-weight: bold;
}

.div-ed-datos {
  float: right;
  font-size: 85%;
}

#diAlta {
  min-width: 15%;
  border-left: 1px solid black;
  padding: 1%;
}
@media (max-width: 520px) {
  #diAlta {
    border-left: none;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
  }
}

#diBusqueda {
  width: 84%;
}

#diAltaBusqueda {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
@media (max-width: 520px) {
  #diAltaBusqueda {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#heFicha.enAdopcion, option.enAdopcion, #sEstado.enAdopcion {
  background-color: #1e90ff;
}

#heFicha.reservado, option.reservado, #sEstado.reservado {
  background-color: #adff2f;
}

#heFicha.adoptado, option.adoptado, #sEstado.adoptado {
  background-color: #ffba06;
}

#heFicha.difunto, option.difunto, #sEstado.difunto {
  background-color: #ff6347;
}

#heFicha {
  height: 30px;
}

#spEstadoHeader {
  float: right;
  font-weight: bold;
  font-size: 13px;
  color: white;
  margin-top: 15px;
  margin-right: 2%;
}

#fsAdoptante {
  display: hidden;
}

/*OVERLAY**/
#buOpenOverlay {
  margin-top: 50px;
}
@media screen and (max-width: 520px) {
  #buOpenOverlay {
    margin-top: 10px;
  }
}

#buCloseOverlay {
  float: right;
  background-color: #dddddd;
  color: #777;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  font-size: 150%;
}

#buCloseOverlay:hover {
  background-color: #999999;
  color: white;
}

#boxOverlay {
  position: fixed;
  z-index: 99;
  border: 1px solid grey;
  border-radius: 7px;
  background-color: #F3F8FE;
  margin: auto;
  width: 86%;
  min-height: 50%;
  top: 25%;
  left: 7%;
  padding: 1%;
  display: none;
}
@media screen and (max-width: 759px) {
  #boxOverlay {
    left: 1%;
    width: 91%;
  }
}

#innerBoxOverlay {
  margin: 100px auto;
}

#innerBoxOverlay h3 {
  margin-bottom: 22px;
}

#overlay {
  width: 100%;
  height: 100%;
  display: none;
  background-color: #070707;
  opacity: 0.5;
  cursor: pointer;
  position: fixed;
  z-index: 90;
  top: 0;
  left: 0;
}

/*PAGINADOR */
#paginador {
  margin: 45px auto 0;
  width: 100%;
  line-height: 3rem;
}

#paginador li {
  display: inline-block;
}

#paginador p {
  float: right;
  margin: 0 10px 0 0;
}

#paginador a {
  background-color: #0072c6;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border: 0px;
  padding: 2px 6px;
  box-shadow: 0 0 1px black;
  margin: 10px 3px;
  text-align: center;
  border-radius: 2px;
  font-size: 2rem;
}

#paginador a:hover {
  background-color: #0092fa;
}

#dInnerResultados {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flexdirection: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.dAnimal {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 32%;
  margin: 10px 1% 10px 0;
  overflow: hidden;
  border-bottom: 1px solid grey;
  box-shadow: 2px 2px 1px rgba(220, 220, 220, 0.75);
}
@media screen and (max-width: 759px) {
  .dAnimal {
    width: 48%;
  }
}
@media screen and (max-width: 520px) {
  .dAnimal {
    width: 100%;
  }
}

.dAnimal a {
  margin-top: 5px;
  font-size: 150%;
  text-decoration: none;
  font-weight: bold;
}

.dAniDatos {
  padding-top: 4px;
}

.dAniDatos > p {
  margin: 0 !important;
  line-height: 2.5rem !important;
}

.dAnimal > p {
  clear: both;
}

.dAniImg {
  float: left;
  width: 40%;
  margin: 0 7% 5px 0;
}

.dAnimal.enAdopcion img {
  border: 4px solid #1e90ff;
  border-radius: 3px;
}

.dAniImg img {
  max-width: 100%;
  max-height: 100%;
}

.dAniDatos {
  float: left;
}

#imagenes img {
  max-width: 400px;
  max-height: 400px;
  margin: auto 1%;
}

#imagenes {
  margin: 2% auto;
  display: block;
  max-width: 850px;
  max-height: 450px;
}

/*BLOQUE FOTOS */
#fotos {
  width: 30%;
  float: left;
  margin-right: 2%;
  overflow: hidden;
}
@media screen and (max-width: 759px) {
  #fotos {
    width: 100%;
  }
}

#diNavFoto {
  margin-top: 7px;
  line-height: 180%;
}

#fotos input {
  margin: 5px 0;
}

#flechas {
  float: right;
  margin-right: 8px;
}

#diCurrentFoto {
  margin: 2% 0 4% 0;
  /*max-height:400px;*/
  margin: auto;
  display: block;
  width: 100%;
}

#diCurrentFoto img {
  max-width: 100%;
  /*max-height: 400px;*/
  margin: auto;
  display: block;
}
@media screen and (max-width: 759px) {
  #diCurrentFoto img {
    max-width: 85%;
    max-height: none;
  }
}

#nav-acc-foto {
  position: relative;
  visibility: hidden;
  width: inherit;
  background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.5);
  height: 36px;
  margin: 0;
  bottom: 36px;
  padding-right: 5px;
}

#diCurrentFoto:hover #nav-acc-foto {
  visibility: visible;
}

#f-pdf {
  margin: 4% 0 2% 0;
}

#f-pdf legend {
  margin-bottom: 7px;
}

#f-pdf input {
  display: inline;
}

/*BLOQUE DATOS B├üSICOS*/
#datos, #dAlta {
  margin: auto;
  width: 68%;
  float: left;
}
@media screen and (max-width: 759px) {
  #datos, #dAlta {
    width: 100%;
  }
}

#dAlta {
  max-width: 650px;
  margin: auto;
  float: none;
}

#estado {
  clear: both;
}

#datos input, #dAlta input, #estado input, #f-pdf input, #estado input {
  margin: 0 0px 0px 7px;
}

#datos input[type=radio], #dAlta input[type=radio] {
  margin: 0px 2px;
}

#datos select, #dAlta select, #estado select {
  margin: 0px 0px 0px 7px;
}

#form-datos {
  width: 100%;
}

#form-datos label, #estado label {
  font-weight: bold;
}

#datos input[type=submit], #dAlta input[type=submit] {
  margin-top: 10px;
  margin-left: 37%;
}

#nombre {
  width: 75px;
}

#localidad {
  width: 100px;
}

#edad {
  width: 50px;
}

#datos textarea, #dAlta textarea {
  width: 100%;
  margin: 8px 0 15px;
  display: block;
}

.w200px {
  width: 200px;
}

#castracion {
  clear: both;
}

#tbVideo, #tbTratamiento, #tbDevolucion {
  width: 100%;
}

#nueva-foto {
  display: inline;
}

#divEstado, #fsLugar {
  width: 49%;
  float: left;
}
@media screen and (max-width: 759px) {
  #divEstado, #fsLugar {
    width: 100%;
    float: none;
  }
}

#fsLugar {
  padding-left: 15px;
  border-left: #d3d3d3 1px solid;
}
@media screen and (max-width: 759px) {
  #fsLugar {
    border: none;
  }
}

#botonera a {
  text-decoration: none;
  display: inline-block;
  margin: 7px 3px;
}

#buResetDatos {
  float: right;
}

#login-screen {
  background-color: #0072c6;
  background-image: none;
  /*background-color: #D5E0F5;*/
}
#login-screen h1, #login-screen h2 {
  display: none;
}
#login-screen header {
  background-color: inherit;
  min-width: 0;
}
#login-screen img {
  width: 100%;
  max-width: 400px;
  max-height: 102px;
}
#login-screen #cont {
  display: block;
  width: 92%;
  max-width: 400px;
  margin: auto;
  margin-top: 12%;
  background-color: white;
  padding-bottom: 1%;
  border: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 8px;
}
#login-screen .error-log {
  text-align: center;
  color: red;
}
#login-screen form {
  margin: 2%;
  margin-top: 4%;
}
#login-screen fieldset {
  width: 150px;
  display: block;
  margin: auto;
}
#login-screen input {
  display: block;
  margin: auto;
  margin-bottom: 10px;
}
#login-screen #recordar {
  display: inline;
  margin-bottom: 20px;
  margin-left: 5px;
}
#login-screen .boton {
  background-color: #0072c6;
  color: white;
  font-weight: bold;
  border: 0px;
  min-width: 80px;
  max-width: 120px;
  height: 30px;
  box-shadow: 0 0 1px black;
  margin: 10px auto;
  display: table;
}
#login-screen footer {
  width: 92%;
  max-width: 400px;
  margin: auto;
  height: auto;
  background-color: inherit;
  border: none;
  min-width: 0px;
}
#login-screen a {
  text-decoration: none;
  color: white;
}
#login-screen #sol-user {
  float: right;
}

/*revisar si mover a css espec├¡fico*/
#cont {
  border-top: 1px solid grey;
  padding: 1% 2%;
}

#cont > ul li {
  margin: 6px;
}

#innerBoxOverlay p {
  margin-left: 35px;
}

#innerBoxOverlay ul {
  margin: 0 0 15px 70px;
  list-style: disc;
}

#innerBoxOverlay textarea {
  width: 100%;
  margin-bottom: 20px;
}
