/*VARIABLES*/

$pWidth:1140px;
$fPrincHeight: 30px;
$hPrincHeight: 80px;
$pColor: #D5E0F5;
$sColor: #0072C6;
$bColor: #F3F8FE;


/*BODY BASE*/
html {
    font-size: 62.5%;
}

body {
overflow: auto;
background-image: linear-gradient(to right, rgb(240,240,240), black, rgb(240,240,240));
background-image: -webkit-linear-gradient(right, rgb(240,240,240), black, rgb(240,240,240));
font-family: "Lucida Grande","Lucida Sans Unicode","DejaVu Sans",Lucida,Arial,Helvetica,sans-serif;
font-size: 1.6rem;
color: rgb(50,50,50);
    @media (max-width: 480px) {
        font-size: 1.3rem;
    }
    @media (max-width: 1024px) {
        font-size: 1.4rem;
    }
}

html, body {
    height: 100%;
}

/*GENERAL USE CLASSES*/

.no-display {
    display: none;
}

.d-inline {
    display: inline;
}

/*HEADER*/

header#hPrinc {
    background-color: $pColor;
    width: 100%;
}

#logo {
    width:200px;
    height:50px;
    margin-left:1%;
    margin-top: 10px;
    margin-right: -25px;
}

/*USER PANEL*/

#user-panel {
    float:right;
    margin-top: 2%;
    height: 60px;
}

#user-panel p {
    margin-bottom: 6px;
}

#user-panel a {
    font-size: 100%;
    display: block;
    float: left;
    margin: 0 5px 5px 0;
    @media (max-width: 480px) {
        clear: both;
    }
}

/*NAV-PRINC*/

#nPrinc {
    background-color: $sColor;
    display: table;
    table-layout: fixed;
    border:solid white;
    border-width: 1px 0;
    color: #DDD;
    width: 100%;
}
/*
#dMenu {
    display: none;
    @media (max-width: 480px) {
        display: block;
    }
}*/

#nPrinc > ul {
    display: flex;
    flex-direction: row;
    margin: 0 4px;

    @media (max-width: 480px) {
        flex-direction: column;
    }
}

#nPrinc > ul > li {
    flex-grow: 1;
}

#nPrinc > ul /*> li:first-child*/ {
    border-left: 1px solid #99D5FF;
}

#nPrinc > ul /*> li:last-child */{
    border-right: 1px solid #555555;
}

#nPrinc > ul > li > a {
    padding: 5px 0px;
    border-left: 1px solid #555555;
    border-right:1px solid #99D5FF;
    color: inherit;
    text-shadow: 1px 1px #550000;
    text-decoration: none;
    text-align:center;
    font-weight:bold;
    display: block;
    text-transform: uppercase;
    font-size: larger;
    line-height: 24px;

    @media (max-width: 480px) {
        border-top: 1px solid #555555;
        border-bottom:1px solid #99D5FF;
        line-height: 35px;
    }
}

#current-tab{
    background-color: rgb(0,86,148);
    color:white;
}

#nPrinc > ul > li > a:hover {
    color:white;
}

#nPrinc ul ul{
    display: none;
    position: absolute;
    color: white;
    margin-top:0px;
    background: none repeat scroll 0% 0% rgba(0,0,0,0.7);
    border-radius: 0 0 3px 3px;
    min-width: 150px;
   // max-width: 250px;
}

#nPrinc > ul > li:hover ul{
    display: flex;
    flex-direction: column;

    @media (max-width: 480px) {
        position: static;
        text-align: center;
    }
}

#nPrinc ul ul li{
    text-decoration:none;
    color: white;
    display: block;
    border-bottom: solid 1px white;
    padding: 1px 0;
}

#nPrinc ul ul > li:last-child{
    border-bottom:none;
}

#nPrinc ul ul a {
    text-decoration:none;
    padding: 8px 25px 8px 20px;
    display:block;
    color: white;
    border-radius:4px;
    font-size: medium;
}

#nPrinc ul ul a:hover {
    background: none repeat scroll 0% 0% rgba(0, 154, 240,0.9);
}

/*CUERPO*/

#cuerpo {
    min-height: 75%;
    //min-width: $pWidth;
    max-width: 85%;
    padding-bottom: $fPrincHeight;
    margin: 0 auto;
    background-color: $bColor;
    border: solid grey;
    border-width: 0 1px;
    padding: 5% 0;
}

#cuerpo  h2 {
    font-size: larger;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 1%;
    margin-bottom: 8px;
}

#cuerpo h3 {
    font-size: 125%;
    font-weight: bold;
    margin-bottom: 1%;
}

#cuerpo h4 {
    font-size:110%;
    font-weight: bold;
    margin: 2% 3%;
}

#cuerpo h5 {
    font-size:medium;
    font-weight: bold;
    margin: 2% 6%;
}

/*FOOTER PRINCIPAL*/
footer {
    height: $fPrincHeight;
    background-color: rgb(0, 114, 198);
    border-top: 1px solid white;
    padding: 10px 5px 0;
}

footer a {
    color: white;
    text-decoration: none;
    float: right;
    margin-right: 4%;
    font-size: 87%;
}

input[type='file'] {
    width: 299px;
    overflow: visible;
}


.boton {
background-color: rgb(0, 114, 198);
    color:white;
    font-weight:bold;
    border:0px;
    min-width:80px;
    max-width: 120px;
    height:30px;
    box-shadow: 0 0 1px black;
    margin: 10px auto;
    display: table;
}

/*Quizás en archivo específico menos general?*/
.bot-fav, .bot-anyadir, .bot-editar, .bot-eliminar {
    width: 32px;
    height:32px;
    background:url('../images/icon-fav.png') no-repeat scroll 0 0 transparent;
    background-color: rgb(0, 114, 198);
    background-position: center center;
    background-size:25px 25px;
    border-radius: 6px;
    margin: 2px;
}

.bot-anyadir {
    background:url('../images/icon-anyadir.png') no-repeat scroll 0 0 transparent;
    background-color: rgb(0, 114, 198);
    background-position: center center;
    background-size:25px 25px;
}

.bot-eliminar {
    background:url('../images/icon-eliminar.png') no-repeat scroll 0 0 transparent;
    background-color: rgb(0, 114, 198);
    background-size:cover;
}

.bot-editar {
    background:url('../images/icon-editar.png') no-repeat scroll 0 0 transparent;
    background-color: rgb(0, 114, 198);
    background-size:cover;
}

.bot-fav:hover, .bot-anyadir:hover, .bot-eliminar:hover, .bot-editar:hover, .boton:hover {
    background-color: rgb(0,146,250);
}

.bot-fav:disabled, .bot-anyadir:disabled, .bot-eliminar:disabled, .bot-editar:disabled, .boton:disabled {
    background-color: rgb(200,200,200);
    color:grey;
}

.i-number {
    width: 45px;
}

.i-date {
    width: 135px;
}

.border-up {
    padding: 1% 2%;
    border-top: 1px solid black;
}

.center {
    margin:10px auto;
    display:table;
}

strong {
    font-weight: bold;
}

table {
    margin: 2% auto;
    border: 1px solid black;
}

th {
    padding: 5px 10px;
    border: 1px solid black;
}

td {
    border: 1px solid black;
    padding: 5px 10px;
    text-align: center;
}

td a {
    text-decoration:none;
    font-weight: bold;
}

.td-positivo {
    background-color: red;
    color: white;
}

.td-negativo {
    background-color: limegreen;
    color: yellow;
}

.col-ampliada {
    min-width: 350px;
}

.realizado {
    color:limegreen;
    font-weight: bold;
}

.no-realizado {
    color:red;
    font-weight: bold;
}

.div-ed-datos {
    float:right;
    font-size: 12px;
}

.en-albergue {
    background-color: dodgerblue;
}

.en-acogida {
    background-color: violet;
}

.reservado {
    background-color: greenyellow;
}

.pre-adoptiva {
    background-color: goldenrod;
}

.adoptado {
    background-color: gold;
}

.difunto {
    background-color: tomato;
}

#cab-cuerpo {
    height:30px;
}

#estado-tit {
    float: right;
    font-weight: bold;
    font-size: 13px;
    color: white;
    margin-top:15px;
    margin-right: 2%;
}

#form-adoptante {
    display: hidden;
}
