#datos {
width: 615px;
margin: 2% auto;
}

#datos input, #estado input, #f-pdf input{
margin: 0 10px 10px 7px;
}

#datos input[type=radio] {
margin: 10px 2px;
}

#datos select, #estado select {
margin: 5px 10px 5px 7px;
}

#form-datos label, #estado label {
font-weight: bold;
}

#datos input[type=submit] {
margin-top: 10px;
margin-left:37%;
}

#nombre {
width: 75px;
}

#localidad {
width: 100px;
}

#edad {
width: 50px;
}

#datos textarea {
width: 615px;
margin: 8px 0;
}