
/*BLOQUE FOTOS */
#fotos {
  width:30%;
  float:left;
  margin-right: 2%;
  overflow: hidden;
  @media screen and (max-width: 759px) {
    width: 100%;
  }
}

#diNavFoto {
  margin-top: 7px;
  line-height: 180%;
}

#fotos input {
margin: 5px 0;
}

#flechas {
float: right;
margin-right: 8px;
}

#diCurrentFoto {
  margin: 2% 0 4% 0;
  /*max-height:400px;*/
  margin: auto;
  display: block;
  width: 100%;
}

#diCurrentFoto img {
  max-width: 100%;
  /*max-height: 400px;*/
  margin: auto;
  display: block;
  @media screen and (max-width: 759px) {
    max-width: 85%;
    max-height: none;
  }
}

#nav-acc-foto {
  position: relative;
  visibility: hidden;
  width: inherit;
  background: none repeat scroll 0% 0% rgba(0,0,0,0.5);
  height: 36px;
  margin: 0;
  bottom: 36px;
  padding-right: 5px;
}

#diCurrentFoto:hover  #nav-acc-foto {
  visibility: visible;
}

#f-pdf {
margin: 4% 0 2% 0;
}

#f-pdf legend {
margin-bottom: 7px;
}

#f-pdf input {
display: inline;
}

/*BLOQUE DATOS BÁSICOS*/
#datos {
  margin: auto;
  width: 68%;
  float: left;

  @media screen and (max-width: 759px) {
    width: 100%;
  }
}

#dAlta {
  @extend #datos;
  max-width: 650px;
  margin:auto;
  float:none;
}

#estado {
  clear: both;
}

#datos input, #estado input, #f-pdf input, #estado input {
  margin: 0 0px 0px 7px;
}

#datos input[type=radio] {
  margin: 0px 2px;
}

#datos select, #estado select {
  margin: 0px 0px 0px 7px;
}

#form-datos {
  width: 100%;
}

#form-datos label, #estado label {
font-weight: bold;
}

#datos input[type=submit] {
  margin-top: 10px;
  margin-left:37%;
}

#nombre {
width: 75px;
}

#localidad {
width: 100px;
}

#edad {
width: 50px;
}

#datos textarea {
width: 100%;
margin: 8px 0 15px;
display: block;
}

.w200px {
width: 200px;
}

#castracion {
clear: both;
}

#tbVideo, #tbTratamiento, #tbDevolucion {
width: 100%;
}

#nueva-foto {
display: inline;
}

#divEstado, #fsLugar {
  width: 49%;
  float: left;

  @media screen and (max-width: 759px) {
    width: 100%;
    float: none;
  }
}


#fsLugar {
  padding-left: 15px;
  border-left: #d3d3d3 1px solid;

  @media screen and (max-width: 759px) {
    border: none;
  }
}

#botonera a {
  text-decoration: none;
  display: inline-block;
  margin: 7px 3px;
}

#buResetDatos {
  float: right;
}



