dInnerResultados {
  width: 100%;
}

#dInnerResultados > div {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.dAnimal {
  flex-grow: 1;
  width: 32%;
  margin: 10px 1% 10px 0;
  overflow: hidden;
  border-bottom: 1px solid grey;
  box-shadow: 2px 2px 1px rgba(220, 220, 220, 0.75);

  @media screen and (max-width: 759px) {
    width: 48%;
  }

  @media screen and (max-width: 520px) {
    width: 100%;
  }
}

.dAnimal h4 a {
  margin-top: 5px;
  font-size: 150%;
  text-decoration: none;
  font-weight: bold;
}

.dAniDatos {
  padding-top: 4px;
}

.dAniDatos > p {
  margin: 0 !important;
  line-height: 2.5rem !important;
}

.dAnimal > p {
  clear: both;
}

.dAniImg {
  float:left;
  width: 40%;
  margin: 0 7% 5px 0;

}

.dAnimal.adoptable img{
  border: 4px solid $cEnAdopcion;
  border-radius: 3px;
}

.dAnimal.adopted img{
  border: 4px solid $cAdoptado;
  border-radius: 3px;
}

.dAnimal.reserved img{
  border: 4px solid $cReservado;
  border-radius: 3px;
}

.dAnimal.deceased img{
  border: 4px solid $cDifunto;
  border-radius: 3px;
}

.dAniImg img {
  max-width: 100%;
  max-height: 100%;

}

.dAniDatos {
  float: left;
}

.dAnimal button {
  float: right;
  margin: 0px 20px 10px 5px;
}

#resultados textarea {
  width: 99%;
  min-height: 500px;
  margin: 10px auto;
}
