

#imagenes img {
  display: inline-block;
  max-width: 48%;
  max-height: 400px;
  margin: auto 1%;
  @media screen and (max-width: 759px) {
    max-width: 98%;
    max-height: 100%;
  }
}

#imagenes {
  margin: 2% auto;
  display: block;
  width: 100%;
}